* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/CSS\ Files/Sign In.jpg') no-repeat center center fixed;
    background-size: cover;
    /* width: fit-content;
    height:fit-content; */
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 75px auto;
    background-color: rgb(7, 7, 7); /* Adding opacity to the background */
    border-radius: 5px;
    text-align: center;
    /* margin-right: 500px; */
    box-shadow: 0 20px 35px rgb(182, 0, 0);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.2rem;
    align-items: center;
    text-align: center;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    background: rgb(140, 0, 0);
    cursor: pointer;
}

button:hover {
    background: rgb(182, 0, 0);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.terms {
    margin-top: 0.2rem;
}

.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.7rem;
}

.terms a {
    color: rgb(139, 138, 219);
    text-decoration: none;
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #ffffff;
}

.member a {
    color: rgb(140, 0, 0);
    text-decoration: none;
}
.member a:hover{
    color: rgb(182, 0, 0);
    text-decoration: none;
}
